@tailwind base;
@tailwind components;
@tailwind utilities;


/* English Fonts */

@font-face {
    font-family: 'Inter';
    src: url('/assets/new-fonts/Inter.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Poppins';
    src: url('/assets/new-fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/new-fonts/Montserrat.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('/assets/new-fonts/Cairo-font.woff2') format('woff2');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Tajawal';
    src: url('/assets/new-fonts/Tajawal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Amiri';
    src: url('/assets/new-fonts/Amiri-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
